#logo {
    text-align: center;
    padding-top: 15%;
    width: 400px;
    text-align: center;
    margin: auto;

    img {
        display: block;
        margin: auto;
        width: 100px;
    }

    h1 {
        margin-top: 5px;
        font-size: 40px;
    }
}

#app h1 {
    text-align: center;
}

#login {
    margin: auto;
    width: 300px;

    input {
        width: 100%;
        font-size: 20px;
        padding: 13px;
        margin: 10px;
        border: 2px solid transparent;
        color: @tea-brighter;
        background-color: @green-dark;
        border-radius: 10px;
        outline:none;

        &:focus {
            border: 2px solid @green-brighter;
        }
    }
}