.tabs {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;

    li {
        background-color: @green-dark;
        border: 0.2em solid @green-brighter;
        border-bottom: none;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        font-weight: bold;
        padding: 0.8em;
        cursor: pointer;

        &.inactive {
            background-color: desaturate(@green-dark, 50%);
            border-color: transparent;
            color: fade(white, 50%);
        }

        .btn--close {
            display: none;
            outline: none;
            cursor: pointer;
        }
        &:hover .btn--close {
            display: inline-block;
            color: fade(white, 50%);
            background: none;
            vertical-align: middle;
            font-size: 0.85rem;
            //display: none;
            border: none;
            position: absolute;

            &:hover {
                color: fade(white, 80%);
            }
        }

        &.tabs__add {
            @margin: 0.5em;
            @padding: 0.3em;
            @offset: 0.15em;
            @border-width: 0.2em;
            margin: @margin;
            padding: @padding;
            border-radius: 0.5em;
            border: 0.2em solid transparent;
            border-bottom-color: @green-darker;
            cursor: pointer;
            user-select: none;

            &:hover {
                border-color: fade(#fff, 40%);
            }

            &:active {
                border-color: @green-darker;
                border-left-width: @border-width + @offset;
                border-top-width: @border-width + @offset;
                padding-right: @padding - @offset;
                padding-bottom: @padding - @offset;
            }
        }
    }
}