.tabs {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;

    li {
        font-weight: bold;
        padding: 1em;
        background-color: @green-dark;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }
}